{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Dalisay</title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body class="bg-dark p-0 position-relative overflow-auto" style="height:100%;">

  <nav class="navbar navbar-dark bg-secondary bg-opacity-10">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="#!">
        <!-- <img src="{% static 'images/favicon-32x32.png' %}" alt="Dalisay logo" width="30" height="50" -->
        <!-- class="d-inline-block align-text-top"> -->
        <span id="logo-name">DALISAY</span>
      </a>
    </div>
  </nav>

  <main class="container-fluid px-5 mb-5">
    <div class="row mb-5" style="padding-top:4rem;">

      <form method="POST" class="col d-flex flex-column align-items-center ">
        {% csrf_token %}

        <h3 class="h3 text-center mb-4 text-light">News Verifier</h3>
        <div class="mb-4 d-flex justify-content-center align-items-center">
          <textarea name="message" class="form-control form-control-lg rounded" id="search-text" rows="9"
            placeholder="Enter some keywords..."
            style="height: 100%; width: 800px; resize: none;">{{search_term}}</textarea>
        </div>


        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-light text-center rounded-pill" id="buttonstyle">
            <i class="fa fa-search fa-l" style="margin-right: 5px"></i> FACT CHECK</button>
        </div>


        <div class="mt-3 mb-5 text-light text-center" style="height: 100px;">
          {% if predict == 'Verified' %}
          <div class="mt-4">

            <p class="lead text-wrap" style="width: 40rem;">

              {% if month_old_news %}

              <strong class="text-warning">
                WARNING:
              </strong> The text you've been searching has some old news showing a possibility that it is <strong
                class="text-danger">unverified</strong>; but here are the related articles.

              {% elif total_news >= 3 %}

              There are {{ total_news }} publishers who wrote about this
              news showing that the text is <strong class="text-primary">
                verified</strong>. Here

              {% else %}
              <strong class="text-warning">
                WARNING:
              </strong> The publisher count of the text is low, showing that the text may be <strong
                class="text-danger">unverified</strong>; but here
              {% endif %} are the related articles.


            </p>

          </div>
          {% endif %}

          <div class="mt-3">
            <p class="lead text-wrap" style="width: 40rem;">
              {% if predict == 'Unverified' %}
              Sorry, the text is <strong class="text-danger">
                not verified</strong> according to these trusted Philippine news outlets
              <a class="text-primary" target="_blank" href="https://www.cnnphilippines.com">CNN</a>, <a
                class="text-primary" target="_blank" href="https://www.gmanetwork.com/news/">GMA
                7</a>,
              <a class="text-primary" target="_blank" href="https://www.inquirer.net">Philippine Daily Inquirer</a>,
              <a class="text-primary" target="_blank" href="https://www.abs-cbn.com">Abs-Cbn</a>,
              <a class="text-primary" target="_blank" href="https://www.sunstar.com.ph">SunStar</a>,
              <a class="text-primary" target="_blank" href="https://www.philstar.com/">Philippine Star</a>, <a
                class="text-primary" target="_blank" href="https://mb.com.ph/">Manila
                Bulletin</a>, <a class="text-primary" target="_blank" href="https://www.manilatimes.net/">Manila
                Times</a>, <a class="text-primary" target="_blank" href="https://www.tv5.com.ph/">TV5</a>, and <a
                class="text-primary" target="_blank" href="https://www.pna.gov.ph">Philippine News Agency</a>.
            </p>
            {% endif %}
          </div>


          {% if predict == 'Error' %}
          <div class="mt-4">
            <p class="lead">
              Sorry we don't have enough information about this.
            </p>
          </div>
          {% endif %}
        </div>

      </form>

      <section class="col text-light d-flex flex-column align-items-center w-80  mb-5">

        <h3 class="h3 text-center mb-4">Related Articles</h3>

        {% if news %}
        <div class="list-group rounded overflow-auto" style="max-height: 53vh; overflow-y: auto;">
          {% for value in news %}
          <a target="_blank" href="{{value.url}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="d-inline-block text-truncate mt-1 text-uppercase" style="max-width: 35vw;">{{value.title}}
              </h6>
              <small class="text-secondary">
                {{value.dtstr}}
              </small>
            </div>
            <div>
              <small class="d-inline-block text-secondary text-truncate" style="max-width: 45vw;">
                {% if value.content%}
                {{value.content}}
                {%endif%}
                {% if not value.content%}
                No available summary.
                {%endif%}
              </small>
            </div>
            <small class="text-primary">{{value.news_site_url}}</small>
          </a>
          {% endfor %}

        </div>
        {% endif %}

        {% if not news %}
        <div class="d-flex justify-content-center mt-5 align-items-center h-50 flex-column">
          <img src="{% static 'images/empty.svg' %}" alt="" height="300px">
          <p class="text-center mt-5 lead">Nothing to display.</p>
        </div>
        {% endif %}

      </section>

    </div>

    <hr class="text-secondary">
    <section class="row px-5 pb-5">

      <h3 class="h3 text-light my-2">Daily News:</h3>

      <div class="row row-cols-sm-1 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">

        {% for d in daily_news %}
        <div class="col">
          <a href="{{d.url}}" target="_blank" class="text-dark text-decoration-none">
            <div class="card mb-3">

              <img src="{{d.media}}" class="card-img-top" alt=" " height="250px">

              <div class="card-body">
                <h5 class="card-title text-truncate">{{d.title}}</h5>
                <p class="card-text truncate">{{d.content}}</p>
                <div class="d-flex align-items-end justify-content-between">
                  <span class="card-text"><small class="text-primary">{{ d.news_site_url }}</small></span>
                  <span class="card-text"><small class="text-muted">{{ d.dtstr }}</small></span>
                </div>
              </div>

            </div>
          </a>

        </div>

        {% endfor %}
      </div>


    </section>

  </main>

  <footer class="footer bg-info text-center text-lg-start bg-dark">
    <div class="d-flex justify-content-center align-items-center mx-auto">
      <p class="text-center my-auto py-3 text-light">
        Copyright © 2022 Dalisay
      </p>
    </div>
  </footer>
</body>